<div class="qoute-background-image" style="background-image: url(<%= background %>)">

  <blockquote class="qoute">
    <p class="body"><%= qoute.body %></p>
    <footer><%= qoute.author %></footer>
  </blockquote>

  <script>
    $(".qoute-background-image").fadeIn( 2000, "linear" );
  </script>

</div>

