jQuery ->
  $(".qoute-background-image").fadeIn( 2000, "linear" );
  setInterval(fetchQoute, <%= CHANGE_QOUTE_INTERVAL %>);

fetchQoute = ->
  $(".qoute-background-image").fadeOut( 2000, "linear" );
  $.getScript( "/qoutes/random" )
  return