.qoute-background-image{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  padding: 150px;
  display: none;
}

.qoute{
  color: #fff;
  .body{
    font-size: 2em;
    text-shadow: 1px 0px 30px rgba(0, 0, 0, 1);
    line-height: 1.2em;
  }
  .author{
    font-size: 1.2em;
    font-style: italic;
    margin-top: 13px;
  }
}
